* {
    margin : 0;
    padding: 0;
}

.backDashboard_Patrocinador {
    display        : flex;
    flex-direction : column;
    background     : url('../assets/background-abstract.png');
    align-items    : center;
    justify-content: center;
    min-height     : 120vh;
}

.cardDashboardPatrocinador {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    border-radius : 10px;
    background    : #f0f0f0;
    width         : 90%;
    height        : 115vh;
    box-shadow    : 4px 4px 38px -10px #00000069;

}

.titleDash {
    border-radius: 10px;
    margin       : 20px;
    text-align   : start;
    box-shadow   : 4px 4px 38px -10px #00000069;
    padding      : 20px 40px;
}

.titleDash h1 {
    font-weight: 700;
    color      : #f17909;
    font-size  : 30px;
}

.titleDash p {
    font-size     : 22px;
    padding-bottom: 10px;
    font-weight   : 500;
}

.dadosPatrocinador {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    height        : 65%;
}

.dadosPatrocinador .saldoPatrocinador {
    display        : flex;
    flex-direction : column;
    align-items    : start;
    justify-content: start;
    padding        : 20px;
    border-radius  : 10px;
    box-shadow     : 4px 4px 38px -10px #00000069;
    width          : 98%;
}

.saldoPatrocinador h1 {
    font-size  : 20px;
    font-weight: 700;
    color      : #f17909;
}

.saldoPatrocinador .saldoPatrocinadorSpark {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    height         : 100%;
    align-items    : center;
    justify-content: center;
}

.saldoPatrocinador .saldoPatrocinadorSpark img {
    width      : 130px;
    height     : 130px;
    padding-top: 0px;
}

.saldoPatrocinador .saldoPatrocinadorSpark p {
    font-size  : 50px;
    font-weight: 700;
}

.dadosPatrocinador .conversao {
    display        : flex;
    flex-direction : column;
    width          : 98%;
    padding        : 20px;
    align-items    : flex-start;
    justify-content: flex-start;
    margin-right   : 20px;
    border-radius  : 10px;
    box-shadow     : 4px 4px 38px -10px #00000069;
}

.conversao h1 {
    font-size    : 20px;
    font-weight  : 700;
    color        : #f17909;
    margin-bottom: 20px;
}

.conversao input {
    padding      : 10px 20px;
    border-radius: 5px;
    border       : none;
    box-shadow   : 4px 4px 38px -10px #00000069;
}

.conversao .conversaoInput {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
}

.conversaoUsdc {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
}

.conversaoUsdc img {
    width : 35px;
    height: 35px;
    margin: 0px 15px 0px 20px
}

.conversaoSpark {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
}

.conversaoSpark img {
    width : 70px;
    height: 70px;
}

.conversao button {
    color        : #ffffff;
    padding      : 10px;
    width        : 80%;
    border       : none;
    border-radius: 5px;
    font-weight  : 600;
    transition   : .2s;
    background   : linear-gradient(225deg, #ff7f08 8.12%, #f8ae0e 92.21%);
    box-shadow   : 4px 4px 38px -10px #00000069;
    cursor       : pointer;
}

.campanhaPatrocinador {
    height       : fit-content;
    margin       : 20px;
    border-radius: 10px;
    box-shadow   : 4px 4px 38px -10px #00000069;
    padding      : 30px;
}

.campanhaPatrocinador table {
    width: 100%;
}

.campanhaPatrocinador table thead,
th {
    background   : #f17909;
    color        : #f0f0f0;
    padding      : 10px;
    border-radius: 5px;
    box-shadow   : 4px 4px 15px -10px #00000069;
}

.campanhaPatrocinador table tbody,
tr,
td {
    font-size  : 20px;
    font-weight: 600;
    padding    : 12px;
    margin     : 5px;
    text-align : center;
}

.campanhaPatrocinador table tbody tr:nth-child(odd) {
    box-shadow   : 4px 4px 30px -10px #00000069;
    border-radius: 5px;
}

@media screen and (max-width: 780px) {

    .titleDash {
        padding: 5px 20px;
        margin : 10px;
    }

    .titleDash h1 {
        font-size: 30px;
    }

    .titleDash p {
        font-size: 12px;
    }

    .dadosPatrocinador {
        flex-direction: column;
        padding       : 0;
        margin        : 0;
    }

    .dadosPatrocinador .saldoPatrocinador {
        margin         : 0px 10px;
        align-items    : center;
        justify-content: center;
        height         : 30%;
        width          : 94%;
    }

    .dadosPatrocinador .conversao {
        margin         : 0px 10px;
        padding        : 8px 25px;
        align-items    : center;
        justify-content: center;
        width          : 94%;
    }

    .dadosPatrocinador .saldoPatrocinador h1 {
        font-size: 15px;
    }

    .dadosPatrocinador .saldoPatrocinadorSpark img {
        width : 30px;
        height: 30px;
    }

    .dadosPatrocinador .saldoPatrocinadorSpark p {
        font-size: 15px;
    }

    .dadosPatrocinador .conversao h1 {
        padding  : 10px;
        font-size: 15px;
    }

    .dadosPatrocinador button {
        margin   : 5px;
        padding  : 10px;
        font-size: 12px;
        width    : 70%;
    }

    .campanhaPatrocinador {
        margin : 0px 0px 10px 10px;
        padding: 10px 5px;
        width  : 94%;

    }

    .campanhaPatrocinador table {
        margin : 0px 0px;
        padding: 0px;
    }

    .campanhaPatrocinador table thead,
    th {
        font-size: 5px;
        padding  : 3px;
    }

    .campanhaPatrocinador table tbody,
    tr,
    td {
        font-size: 5px;
    }

}