* {
    margin : 0;
    padding: 0;
}

.backDashboard_Doador {
    display        : flex;
    flex-direction : column;
    background     : url('../assets/background-abstract.png');
    align-items    : center;
    justify-content: flex-start;
    height         : 100vh;

}

.cardDashboardDoador {
    display       : flex;
    flex-direction: column;
    border-radius : 10px;
    background    : #f0f0f0;
    width         : 90%;
    box-shadow    : 4px 4px 38px -10px #00000069;
    gap           : 20px;
}

.titleDash {
    width        : 100%;
    border-radius: 10px;
    margin       : 20px;
    text-align   : start;
    box-shadow   : 4px 4px 38px -10px #00000069;
    padding      : 20px 50px;
}

.titleDash h1 {
    font-weight: 700;
    color      : #f17909;
    font-size  : 30px;
}

.titleDash p {
    font-size     : 25px;
    padding-bottom: 10px;
    font-weight   : 500;
}

.dadosDoador {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    height        : 65%;
}

.dadosDoador .saldoDoador {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-start;
    padding        : 20px;
    border-radius  : 10px;
    box-shadow     : 4px 4px 38px -10px #00000069;
    height         : fit-content;
    min-width      : 20%;
}

.saldoDoador h1 {
    font-size  : 20px;
    font-weight: 700;
    color      : #f17909;
}

.saldoDoador .saldoDoadorSpark {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    align-items    : center;
    justify-content: center;
}

.saldoDoador .saldoDoadorSpark img {
    width : 50px;
    height: 50px;
}

.saldoDoador .saldoDoadorSpark p {
    font-size  : 20px;
    font-weight: 700;
}

.dadosDoador .conversao {
    display        : flex;
    flex-direction : column;
    width          : 98%;
    height         : 100;
    padding        : 20px;
    align-items    : center;
    justify-content: flex-start;
    margin-right   : 20px;
    border-radius  : 10px;
    box-shadow     : 4px 4px 38px -10px #00000069;
}

.conversao h1 {
    font-size    : 20px;
    font-weight  : 700;
    color        : #f17909;
    margin-bottom: 10px;
}

.conversao input {
    padding      : 10px 20px;
    border-radius: 5px;
    border       : none;
    box-shadow   : 4px 4px 38px -10px #00000069;
}

.conversao .conversaoInput {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
}

.conversaoUsdc {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
}

.conversaoUsdc img {
    width : 35px;
    height: 35px;
    margin: 0px 15px 0px 20px
}

.conversaoSpark {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
}

.conversaoSpark img {
    width : 70px;
    height: 70px;
}

.conversao button {
    color        : #ffffff;
    padding      : 10px;
    margin-left  : 35px;
    width        : 20%;
    border       : none;
    border-radius: 5px;
    font-weight  : 800;
    transition   : .2s;
    background   : linear-gradient(225deg, #ff7f08 8.12%, #f8ae0e 92.21%);
    box-shadow   : 4px 4px 38px -10px #00000069;
    cursor       : pointer;
}

.campanhaDoador {
    height       : 40%;
    margin       : 20px;
    border-radius: 10px;
    box-shadow   : 4px 4px 38px -10px #00000069;
    padding      : 30px;
}

.campanhaDoador table {
    width: 100%;
}

.campanhaDoador table thead,
th {
    background   : #f17909;
    color        : #f0f0f0;
    padding      : 10px;
    border-radius: 5px;
    box-shadow   : 4px 4px 15px -10px #00000069;
}

.campanhaDoador table tbody,
tr,
td {
    font-size  : 20px;
    font-weight: 600;
    padding    : 12px;
    margin     : 5px;
    text-align : center;
}

.campanhaDoador table tbody tr:nth-child(odd) {
    box-shadow   : 4px 4px 30px -10px #00000069;
    border-radius: 5px;
}

@media screen and (max-width: 780px) {

    .cardDashboardDoador {
        align-items    : center;
        justify-content: flex-start;
    }

    .titleDash {
        padding: 5px 20px;
        height : 14%;
        margin : 10px;
    }

    .titleDash h1 {
        font-size: 30px;
    }

    .titleDash p {
        font-size: 12px;
    }

    .dadosDoador {
        flex-direction: column;
        padding       : 0;
        margin        : 0;
    }

    .dadosDoador .saldoDoador {
        margin         : 0px 10px;
        align-items    : center;
        justify-content: center;
        height         : 30%;
        width          : 94%;
    }

    .dadosDoador .conversao {
        margin         : 0px 10px;
        padding        : 8px 25px;
        align-items    : center;
        justify-content: center;
        width          : 94%;
    }

    .dadosDoador .saldoDoador h1 {
        font-size: 15px;
    }

    .dadosDoador .saldoDoadorSpark img {
        width : 30px;
        height: 30px;
    }

    .dadosDoador .saldoDoadorSpark p {
        font-size: 15px;
    }

    .dadosDoador .conversao h1 {
        padding  : 10px;
        font-size: 15px;
    }

    .dadosDoador button {
        margin   : 5px;
        padding  : 10px;
        font-size: 12px;
        width    : 70%;
    }

    .campanhaDoador {
        margin : 0px 0px 10px 10px;
        padding: 10px 5px;
        width  : 94%;

    }

    .campanhaDoador table {
        margin : 0px 0px;
        padding: 0px;
    }

    .campanhaDoador table thead,
    th {
        font-size: 5px;
        padding  : 3px;
    }

    .campanhaDoador table tbody,
    tr,
    td {
        font-size: 5px;
    }

}