* {
    margin: 0;
    padding: 0;
}

.backDashboard_Atleta {
    display: flex;
    flex-direction: column;
    background: url('../assets/background-abstract.png');
    align-items: center;
    justify-content: center;
    min-height: 130vh;
}

.cardDashboardAtleta {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #f0f0f0;
    width: 90%;
    height: 120vh;
    box-shadow: 4px 4px 38px -10px #00000069;

}

.titleDash {
    border-radius: 10px;
    margin: 10px;
    text-align: start;
    box-shadow: 4px 4px 38px -10px #00000069;
    padding: 10px 50px;
}

.titleDash h1 {
    font-weight: 900;
    color: #f17909;
    font-size: 60px;
}

.titleDash p { 
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 500;
}

.dadosAtleta {
    width: 99%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0px 10px 10px;
    height: 30%;
}

.dadosAtleta .saldoAtleta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 38px -10px #00000069;
    width: 30%;
}

.saldoAtleta h1 {
    font-size: 35px;
    font-weight: 900;
    color: #f17909;
}

.saldoAtleta .saldoAtletaSpark {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.saldoAtleta .saldoAtletaSpark img {
    width: 130px;
    height: 130px;
}

.saldoAtleta .saldoAtletaSpark p {
    font-size: 50px;
    font-weight: 700;
}

.dadosAtleta .conversao {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    box-shadow: 4px 4px 38px -10px #00000069;
}

.conversao h1 {
    font-size: 35px;
    font-weight: 900;
    color: #f17909;
}

.conversao .tituloConversao {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.conversao input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 38px -10px #00000069;
}

.conversao .conversaoInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45%;
    margin-left: 50px;
    width: 80%;
}

.conversaoUsdc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conversaoUsdc img {
    width: 35px;
    height: 35px;
    margin: 0px 15px 0px 20px
}

.conversaoSpark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conversaoSpark img {
    width: 70px;
    height: 70px;
}

.conversao .botaoConverter {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    width: 100%;
}

.conversao .botaoConverter button {
    color: #ffffff;
    padding: 15px;
    margin-left: 30px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    transition: .2s;
    background: linear-gradient(225deg, #ff7f08 8.12%, #f8ae0e 92.21%);
    box-shadow: 4px 4px 38px -10px #00000069;
    cursor: pointer;
}

.criarCampanha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30%;
    box-shadow: 4px 4px 38px -10px #00000069;
    border-radius: 10px;
}

.criarCampanha .titleCampanha {
    margin: 0px 0px;
    padding: 20px;
}

.criarCampanha .contentCampanha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.criarCampanha h1 {
    font-size: 35px;
    font-weight: 900;
    color: #f17909;
    margin-bottom: 10px;
}

.criarCampanha input {
    width: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 4px 4px 38px -10px #00000069;
}

.criarCampanha label {
    font-size: 12px;
    margin-bottom: 2px;
}

.criarCampanha button {
    color: #ffffff;
    padding: 15px;
    width: 60%;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 800;
    transition: .2s;
    background: linear-gradient(225deg, #ff7f08 8.12%, #f8ae0e 92.21%);
    box-shadow: 4px 4px 38px -10px #00000069;
    cursor: pointer;
}

.campanhaAtleta {
    border-radius: 10px;
    box-shadow: 4px 4px 38px -10px #00000069;
    padding: 30px;
}

.campanhaAtleta table {
    width: 100%;
}

.campanhaAtleta table thead,th {
    background: #f17909;
    color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 15px -10px #00000069;
}

.campanhaAtleta table tbody,tr,td {
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
    margin: 5px;
    text-align: center;
}

.campanhaAtleta table tbody tr:nth-child(odd) {
    box-shadow: 4px 4px 30px -10px #00000069;
    border-radius: 5px;
}

@media screen and (max-width: 780px) {

    .backDashboard_Atleta {
        height: 160vh;
    }

    .cardDashboardAtleta {
        height: 150vh;
        width: 90%;
    }

    .titleDash {
        height: 8%;
        margin: 10px;
        padding: 10px;
    }

    .titleDash h1 {
        font-size: 25px;
    }

    .titleDash p {
        font-size: 15px;
    }

    .dadosAtleta {
        flex-direction: column;
        height: 60%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .dadosAtleta .saldoAtleta {
        align-items: center;
        justify-content: start;
        width: 94%;
        margin: 0px 10px;
        padding: 5px;
    }

    .dadosAtleta .saldoAtleta h1 {
        font-size: 22px;
    }

    .saldoAtleta .saldoAtletaSpark {
        margin: 0px;
        padding: 0px;
    }

    .saldoAtleta .saldoAtletaSpark img {
        width: 60px;
        height: 60px;
    }

    .saldoAtleta .saldoAtletaSpark p { 
        font-size: 30px;
    }

    .dadosAtleta .conversao {
        width: 94%;
        margin: 0px 10px;
        padding: 10px;
    }

    .conversao .tituloConversao {
        width: 100%;
        align-items: center;
        margin: 0px 0px 15px 0px;
        padding: 0px;
    }

    .conversao .tituloConversao h1 {
        font-size: 22px;
    }

    .conversao .conversaoInput {
        width: 92%;
        height: 110px;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
    }

    .conversao .botaoConverter {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .conversao .botaoConverter button {
        width: 80%;
        font-size: 15px;
        margin: 0px;
        padding: 10px;
    }

    .dadosAtleta .criarCampanha {
        width: 94%;
        margin: 0px 10px;
        padding: 0px;
    }

    .criarCampanha .titleCampanha {
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .criarCampanha .titleCampanha h1 {
        font-size: 25px;
    }

    .criarCampanha .contentCampanha {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .criarCampanha .contentCampanha input {
        width: 90%;
    }

    .criarCampanha .contentCampanha button {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .cardDashboardAtleta .campanhaAtleta {
        height: 50%;
        width: 94%;
        margin: 0px 0px 10px 10px;
        padding: 0px;
    }

    .campanhaAtleta table {
        margin: 0px 0px;
        padding: 0px;
    }

    .campanhaAtleta table thead,th {
        font-size: 5px;
        padding: 3px;
    }

    .campanhaAtleta table tbody,tr,td {
        font-size: 5px;
    }


}
