.footer-wrap {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    padding        : 1em;
}

.footer-wrap p {
    font-size: 11px;
    color    : #555;
}