.contentForm_Atleta {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 90vh;
    padding: 10px 35px;
}

.contentForm_Atleta label {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 1px;
    color: #000000;
}

.contentForm_Atleta input {
    padding: 13px;
    margin-bottom: 10px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 4px 4px 38px -10px #00000069;
}

.contentForm_Atleta button {
    margin:15px 0px -8px;
    color: #ffffff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    transition: .3s ease;
    background: linear-gradient(225deg, #ff7f08 8.12%, #f8ae0e 92.21%);
    box-shadow: 4px 4px 38px -10px #00000069;
    cursor: pointer;
}

.contentForm_Atleta button:disabled {
    background: linear-gradient(225deg, #505050 8.12%, #7c7c7c 92.21%);
    cursor: not-allowed;
    opacity: 0.6;
}
