* {
  margin : 0;
  padding: 0;
}

.backRegister {
  display        : flex;
  flex-direction : column;
  background     : url(../assets/background-abstract.png);
  min-height     : 100vh;
  align-items    : center;
  justify-content: center;
}

.contentRegister {
  background-color: #f0f0f0;
  width           : 85%;
  height          : 90vh;
  display         : flex;
  flex-direction  : row;
  align-items     : center;
  padding         : 10px 10px 55px;
  border-radius   : 8px;
  box-shadow      : 4px 4px 38px -10px #00000069;
}

.titleTop_register {
  display        : flex;
  flex-direction : column;
  background     : url(../assets/back_Form.jpg) center center / cover;
  margin-top     : 55px;
  box-shadow     : 4px 4px 38px -10px #00000069;
  border-radius  : 10px;
  height         : 90vh;
  width          : 50%;
  text-align     : center;
  justify-content: center;
  font-size      : 25px;
  padding        : 20px;
}

.titleTop_register h1 {
  font-weight  : 900;
  color        : #f17909;
  margin-bottom: 0;

}

.titleTop_register p {
  font-weight: 600;
  font-size  : 15px;
  margin     : 0;
}

.tabs {
  display       : flex;
  flex-direction: column;
  margin-top    : 40px;
}

.tab {
  cursor          : pointer;
  border          : none;
  outline         : none;
  transition      : all 0.3s ease;
  padding         : 20px 20px;
  margin          : 5px;
  font-size       : 15px;
  color           : #ff7f08;
  font-weight     : 600;
  box-shadow      : 4px 4px 38px -10px #00000069;
  border-radius   : 8px;
  background-color: #ffffff;
}

.tab.active {
  background : linear-gradient(225deg, #ff7f08 8.12%, #f8ae0e 92.21%);
  box-shadow : 4px 4px 38px -10px #00000069;
  color      : white;
  font-weight: 600;
  font-size  : 15px;
}

.contentTabs {
  margin-top: 4em;
  width     : 50%;
  padding   : 20px;
}

.tab-content.active {
  display: block;
}